Dome/Dome/Service References/R824/DOME_BUS_EAI_R824deleteJourneyEntryWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R824deleteJourneyEntryWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deleteCourseEntry" type="tns:deleteCourseEntry" />
      <xs:element name="deleteCourseEntryResponse" type="tns:deleteCourseEntryResponse" />
      <xs:complexType name="deleteCourseEntry">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteCourseEntry" type="tns:deleteCourseEntryDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteCourseEntryDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="benefProfileId" type="xs:int" />
              <xs:element minOccurs="0" name="parcoursPatientId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteCourseEntryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteCourseEntry" type="tns:domeResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteCourseEntryResponse">
    <wsdl:part name="parameters" element="tns:deleteCourseEntryResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCourseEntry">
    <wsdl:part name="parameters" element="tns:deleteCourseEntry" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R824deleteJourneyEntryWS">
    <wsdl:operation name="deleteCourseEntry">
      <wsdl:input name="deleteCourseEntry" message="tns:deleteCourseEntry" />
      <wsdl:output name="deleteCourseEntryResponse" message="tns:deleteCourseEntryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R824deleteJourneyEntryWSSoapBinding" type="tns:DOME_BUS_EAI_R824deleteJourneyEntryWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteCourseEntry">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteCourseEntry">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCourseEntryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R824deleteJourneyEntryWS">
    <wsdl:port name="DeleteCourseEntryWebServiceImplPort" binding="tns:DOME_BUS_EAI_R824deleteJourneyEntryWSSoapBinding">
      <soap:address location="http://159.122.2.36/soap/DOME_BUS_EAI_R824deleteJourneyEntryWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>