Dome/Dome/Service References/R532/DOME_BUS_EAI_R532selectProfileWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R532selectProfileWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="selectProfile" type="tns:selectProfile" />
      <xs:element name="selectProfileResponse" type="tns:selectProfileResponse" />
      <xs:complexType name="selectProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectProfileDto" type="tns:selectProfileDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="selectProfileDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="profileId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="selectProfileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="selectProfileResponse" type="tns:selectProfileResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="selectProfileResponseDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeResponseDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="selectProfileResponse">
    <wsdl:part name="parameters" element="tns:selectProfileResponse" />
  </wsdl:message>
  <wsdl:message name="selectProfile">
    <wsdl:part name="parameters" element="tns:selectProfile" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R532selectProfileWS">
    <wsdl:operation name="selectProfile">
      <wsdl:input name="selectProfile" message="tns:selectProfile" />
      <wsdl:output name="selectProfileResponse" message="tns:selectProfileResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R532selectProfileWSSoapBinding" type="tns:DOME_BUS_EAI_R532selectProfileWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="selectProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="selectProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R532selectProfileWS">
    <wsdl:port name="SelectProfilePartnerWebServiceImplPort" binding="tns:DOME_BUS_EAI_R532selectProfileWSSoapBinding">
      <soap:address location="http://dev.mondome.fr/soap/DOME_BUS_EAI_R532selectProfileWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>