Dome/Dome/Service References/R543b/DOME_BUS_EAI_R543bSwitchReferentWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R543bSwitchReferentWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="updatereferent" type="tns:updatereferent" />
      <xs:element name="updatereferentResponse" type="tns:updatereferentResponse" />
      <xs:complexType name="updatereferent">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateReferentDto" type="tns:updateReferentDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateReferentDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="benefProfileId" type="xs:int" />
              <xs:element minOccurs="0" name="newReferentProfileId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
              <xs:element minOccurs="0" name="softwareName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatereferentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="domeResponse" type="tns:domeResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="userMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updatereferent">
    <wsdl:part name="parameters" element="tns:updatereferent" />
  </wsdl:message>
  <wsdl:message name="updatereferentResponse">
    <wsdl:part name="parameters" element="tns:updatereferentResponse" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R543bSwitchReferentWS">
    <wsdl:operation name="updatereferent">
      <wsdl:input name="updatereferent" message="tns:updatereferent" />
      <wsdl:output name="updatereferentResponse" message="tns:updatereferentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R543bSwitchReferentWSSoapBinding" type="tns:DOME_BUS_EAI_R543bSwitchReferentWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatereferent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updatereferent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updatereferentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R543bSwitchReferentWS">
    <wsdl:port name="ReferentWebServiceImplPort" binding="tns:DOME_BUS_EAI_R543bSwitchReferentWSSoapBinding">
      <soap:address location="http://dev.mondome.fr/soap/DOME_BUS_EAI_R543bSwitchReferentWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>