Dome/Dome/Service References/R822/DOME_BUS_EAI_R822getDetailJourneyEntryWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R822getDetailJourneyEntryWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getDetailsCourseEntry" type="tns:getDetailsCourseEntry" />
      <xs:element name="getDetailsCourseEntryResponse" type="tns:getDetailsCourseEntryResponse" />
      <xs:complexType name="getDetailsCourseEntry">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetCourseEntryDetailsDto" type="tns:getCourseEntryDetailsDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCourseEntryDetailsDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="benefProfileId" type="xs:int" />
              <xs:element minOccurs="0" name="parcoursPatientId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDetailsCourseEntryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="getDetailsResponse" type="tns:getCourseEntryDetailsResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCourseEntryDetailsResponseDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeResponseDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="DOME_parcoursPatient" type="tns:courseEntryDetailsDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="courseEntryDetailsDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:courseEntryDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="parcoursPatientId" type="xs:int" />
              <xs:element minOccurs="0" name="parcoursPatientCreationProfileId" type="xs:int" />
              <xs:element minOccurs="0" name="parcoursPatientCreatorName" type="xs:string" />
              <xs:element minOccurs="0" name="parcoursPatientCreationDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="parcoursPatientLastUpdateDate" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="courseEntryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="eventDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="sensParcoursId" type="xs:int" />
          <xs:element minOccurs="0" name="structureName" type="xs:string" />
          <xs:element minOccurs="0" name="structureRoadType" type="xs:string" />
          <xs:element minOccurs="0" name="structureRoadName" type="xs:string" />
          <xs:element minOccurs="0" name="structureRoadNumber" type="xs:string" />
          <xs:element minOccurs="0" name="structurePostBox" type="xs:string" />
          <xs:element minOccurs="0" name="structureLieuDit" type="xs:string" />
          <xs:element minOccurs="0" name="structureAddressComp1" type="xs:string" />
          <xs:element minOccurs="0" name="structureAddressComp2" type="xs:string" />
          <xs:element minOccurs="0" name="structureCedex" type="xs:string" />
          <xs:element minOccurs="0" name="structureCityZipCode" type="xs:int" />
          <xs:element minOccurs="0" name="structureCityName" type="xs:string" />
          <xs:element minOccurs="0" name="structurePhone" type="xs:string" />
          <xs:element minOccurs="0" name="structureServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="infoStructureAccueil" type="xs:string" />
          <xs:element minOccurs="0" name="admissionTypeId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getDetailsCourseEntry">
    <wsdl:part name="parameters" element="tns:getDetailsCourseEntry" />
  </wsdl:message>
  <wsdl:message name="getDetailsCourseEntryResponse">
    <wsdl:part name="parameters" element="tns:getDetailsCourseEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R822getDetailJourneyEntryWS">
    <wsdl:operation name="getDetailsCourseEntry">
      <wsdl:input name="getDetailsCourseEntry" message="tns:getDetailsCourseEntry" />
      <wsdl:output name="getDetailsCourseEntryResponse" message="tns:getDetailsCourseEntryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R822getDetailJourneyEntryWSSoapBinding" type="tns:DOME_BUS_EAI_R822getDetailJourneyEntryWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDetailsCourseEntry">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDetailsCourseEntry">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDetailsCourseEntryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R822getDetailJourneyEntryWS">
    <wsdl:port name="GetCourseEntryDetailsWebServiceImplPort" binding="tns:DOME_BUS_EAI_R822getDetailJourneyEntryWSSoapBinding">
      <soap:address location="http://159.122.2.36/soap/DOME_BUS_EAI_R822getDetailJourneyEntryWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>