Dome/Dome/Service References/R523/DOME_BUS_EAI_R523benefSubscriptionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R523benefSubscriptionWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="subscriptionPersonStructure" type="tns:subscriptionPersonStructure" />
      <xs:element name="subscriptionPersonStructureResponse" type="tns:subscriptionPersonStructureResponse" />
      <xs:complexType name="subscriptionPersonStructure">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscriptionStructureDto" type="tns:subscriptionStructureDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionStructureDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="profileBenefId" type="xs:int" />
              <xs:element minOccurs="0" name="profileStructureId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionPersonStructureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscriptionStructureResponse" type="tns:subscriptionStructureResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriptionStructureResponseDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeResponseDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="subscriptionPersonStructure">
    <wsdl:part name="parameters" element="tns:subscriptionPersonStructure" />
  </wsdl:message>
  <wsdl:message name="subscriptionPersonStructureResponse">
    <wsdl:part name="parameters" element="tns:subscriptionPersonStructureResponse" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R523benefSubscriptionWS">
    <wsdl:operation name="subscriptionPersonStructure">
      <wsdl:input name="subscriptionPersonStructure" message="tns:subscriptionPersonStructure" />
      <wsdl:output name="subscriptionPersonStructureResponse" message="tns:subscriptionPersonStructureResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R523benefSubscriptionWSSoapBinding" type="tns:DOME_BUS_EAI_R523benefSubscriptionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="subscriptionPersonStructure">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="subscriptionPersonStructure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="subscriptionPersonStructureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R523benefSubscriptionWS">
    <wsdl:port name="SubscriptionPersonStructureWebServiceImplPort" binding="tns:DOME_BUS_EAI_R523benefSubscriptionWSSoapBinding">
      <soap:address location="http://159.122.2.36/soap/DOME_BUS_EAI_R523benefSubscriptionWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>