Dome/Dome/Service References/R511/DOME_BUS_EAI_R511createPersonWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R511createPersonWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createPerson" type="tns:createPerson" />
      <xs:element name="createPersonResponse" type="tns:createPersonResponse" />
      <xs:complexType name="createPerson">
        <xs:sequence>
          <xs:element minOccurs="0" name="createPersonDto" type="tns:CreatePersonDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreatePersonDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="DOME_createPerson" type="tns:CreatePersonInnerDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreatePersonInnerDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="personCivilityId" type="xs:int" />
          <xs:element minOccurs="0" name="personLastName" type="xs:string" />
          <xs:element minOccurs="0" name="personFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="personPhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="personMobilePhoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="personEmail1" type="xs:string" />
          <xs:element minOccurs="0" name="personEmail2" type="xs:string" />
          <xs:element minOccurs="0" name="personBirthDate" type="xs:date" />
          <xs:element minOccurs="0" name="personRoadType" type="xs:string" />
          <xs:element minOccurs="0" name="personRoadName" type="xs:string" />
          <xs:element minOccurs="0" name="personRoadNumber" type="xs:string" />
          <xs:element minOccurs="0" name="personPostBox" type="xs:string" />
          <xs:element minOccurs="0" name="personLieuDit" type="xs:string" />
          <xs:element minOccurs="0" name="personAddressComp1" type="xs:string" />
          <xs:element minOccurs="0" name="personAddressComp2" type="xs:string" />
          <xs:element minOccurs="0" name="personCedex" type="xs:string" />
          <xs:element minOccurs="0" name="personCityZipCode" type="xs:string" />
          <xs:element minOccurs="0" name="personCityName" type="xs:string" />
          <xs:element minOccurs="0" name="personBirthName" type="xs:string" />
          <xs:element minOccurs="0" name="personINSC" type="xs:string" />
          <xs:element minOccurs="0" name="personINSA" type="xs:string" />
          <xs:element minOccurs="0" name="personRPPS" type="xs:string" />
          <xs:element minOccurs="0" name="personNIR" type="xs:string" />
          <xs:element minOccurs="0" name="personJob" type="xs:string" />
          <xs:element minOccurs="0" name="specialCriteria" type="xs:string" />
          <xs:element minOccurs="0" name="personComment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
              <xs:element minOccurs="0" name="softwareName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createPersonResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="createPersonResponse" type="tns:CreatePersonResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreatePersonResponseDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeResponseDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="personId" type="xs:int" />
              <xs:element minOccurs="0" name="login" type="xs:string" />
              <xs:element minOccurs="0" name="accountId" type="xs:int" />
              <xs:element minOccurs="0" name="password" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="DOME_createPersonList" type="tns:duplicatePersonDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="userMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="duplicatePersonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountId" type="xs:int" />
          <xs:element minOccurs="0" name="personFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="personLastName" type="xs:string" />
          <xs:element minOccurs="0" name="personEmail" type="xs:string" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createPersonResponse">
    <wsdl:part name="parameters" element="tns:createPersonResponse" />
  </wsdl:message>
  <wsdl:message name="createPerson">
    <wsdl:part name="parameters" element="tns:createPerson" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R511createPersonWS">
    <wsdl:operation name="createPerson">
      <wsdl:input name="createPerson" message="tns:createPerson" />
      <wsdl:output name="createPersonResponse" message="tns:createPersonResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R511createPersonWSSoapBinding" type="tns:DOME_BUS_EAI_R511createPersonWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createPerson">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createPerson">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createPersonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R511createPersonWS">
    <wsdl:port name="CreatePersonWebServiceImplPort" binding="tns:DOME_BUS_EAI_R511createPersonWSSoapBinding">
      <soap:address location="http://dev.mondome.fr/soap/DOME_BUS_EAI_R511createPersonWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>