Dome/Dome/Service References/R231/DOME_BUS_EAI_R231eventDeleteWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R231eventDeleteWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deleteEvent" type="tns:deleteEvent" />
      <xs:element name="deleteEventResponse" type="tns:deleteEventResponse" />
      <xs:complexType name="deleteEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteEventDto" type="tns:deleteEventDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteEventDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="eventId" type="xs:int" />
              <xs:element minOccurs="0" name="eventDeleteProfileId" type="xs:int" />
              <xs:element minOccurs="0" name="eventDeleteProfileName" type="xs:string" />
              <xs:element minOccurs="0" name="eventDeleteNextOccurrences" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
              <xs:element minOccurs="0" name="softwareName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteEventResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteEventResponse" type="tns:domeResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="userMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteEvent">
    <wsdl:part name="parameters" element="tns:deleteEvent" />
  </wsdl:message>
  <wsdl:message name="deleteEventResponse">
    <wsdl:part name="parameters" element="tns:deleteEventResponse" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R231eventDeleteWS">
    <wsdl:operation name="deleteEvent">
      <wsdl:input name="deleteEvent" message="tns:deleteEvent" />
      <wsdl:output name="deleteEventResponse" message="tns:deleteEventResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R231eventDeleteWSSoapBinding" type="tns:DOME_BUS_EAI_R231eventDeleteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteEvent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteEvent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteEventResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R231eventDeleteWS">
    <wsdl:port name="DeleteEventWebServiceImplPort" binding="tns:DOME_BUS_EAI_R231eventDeleteWSSoapBinding">
      <soap:address location="http://dev.mondome.fr/soap/DOME_BUS_EAI_R231eventDeleteWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>