Dome/Dome/Service References/R521/DOME_BUS_EAI_R521createProfileWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.partner.dome.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOME_BUS_EAI_R521createProfileWS" targetNamespace="http://webservices.partner.dome.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.partner.dome.fr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createProfile" type="tns:createProfile" />
      <xs:element name="createProfileResponse" type="tns:createProfileResponse" />
      <xs:complexType name="createProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="profileDto" type="tns:createProfileDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createProfileDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="accountId" type="xs:int" />
              <xs:element minOccurs="0" name="profileCibleType" type="xs:int" />
              <xs:element minOccurs="0" name="profileParentId" type="xs:int" />
              <xs:element minOccurs="0" name="profileAvatar" type="xs:int" />
              <xs:element minOccurs="0" name="personSocietyRole" type="xs:int" />
              <xs:element minOccurs="0" name="personIdMetier" type="xs:string" />
              <xs:element minOccurs="0" name="prestationListId" type="xs:string" />
              <xs:element minOccurs="0" name="profileSpecialCriteria" type="xs:string" />
              <xs:element minOccurs="0" name="profileSectoring" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeHeaderDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="deviceType" type="xs:int" />
              <xs:element minOccurs="0" name="langue" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeCommonDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createProfileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="createProfileResponse" type="tns:createProfileResponseDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createProfileResponseDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeResponseDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="profileId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domeResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DOME_header" type="tns:domeResponseHeaderDto" />
          <xs:element minOccurs="0" name="statusId" type="xs:int" />
          <xs:element minOccurs="0" name="statusUserMessage" type="xs:string" />
          <xs:element minOccurs="0" name="statusErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domeResponseHeaderDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:domeCommonDto">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createProfile">
    <wsdl:part name="parameters" element="tns:createProfile" />
  </wsdl:message>
  <wsdl:message name="createProfileResponse">
    <wsdl:part name="parameters" element="tns:createProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="DOME_BUS_EAI_R521createProfileWS">
    <wsdl:operation name="createProfile">
      <wsdl:input name="createProfile" message="tns:createProfile" />
      <wsdl:output name="createProfileResponse" message="tns:createProfileResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOME_BUS_EAI_R521createProfileWSSoapBinding" type="tns:DOME_BUS_EAI_R521createProfileWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createProfile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createProfile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOME_BUS_EAI_R521createProfileWS">
    <wsdl:port name="CreateProfileWebServiceImplPort" binding="tns:DOME_BUS_EAI_R521createProfileWSSoapBinding">
      <soap:address location="http://dev.mondome.fr/soap/DOME_BUS_EAI_R521createProfileWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>